<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Fitness History</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">

    <h1>Fitness History</h1>

    <div>
        <a href="/">Home</a>
        <a href="/analytics">Analytics</a>
        <a href="/chatbot">AI Chatbot</a>
        <a href="/logout">Logout</a>
    </div>

</nav>

<div class="history-container">

    <h1>Your Fitness History</h1>

    <table>

        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
            <th>BMI</th>
            <th>Category</th>
            <th>Goal</th>
            <th>Calories</th>
        </tr>

        {% for row in data %}

        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
        </tr>

        {% endfor %}

    </table>

</div>

</body>

</html>